/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
.main-nav ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 20px;
    display: flex;
}

.main-nav a {
    text-decoration: none;
    color: grey;
    font-weight: 500;
}

.header-action button
{
  background-color: #482cd8;
    color: #ffffff;
    padding: 5px 10px;
    border: none;

}

.cta
{
    background-color: #482cd8;
    color: #ffffff;
    padding: 5px 10px;
    border: none;
}

.hero
{
    background-color: #e0f0ff;
    padding: 60px 40px;
}

.hero-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    height: 650px;
    margin: 0 auto;
}

.hero-text
{
    margin-top: 150px;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.hero-image h1
{
    font-size: 3.5rem;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 50px;
    margin-left: 20px;
    
}

.hero-image
{
 position: relative;
 height: 1000px;
 margin-bottom: -500px;
}
.hero-image img
{
    max-width: 1000px;
    height: auto;
}

.pricing-plans
{
    padding: 60px 40px;
}

.pricing-plans .container
{
    max-width: 1200px;
    margin: 0 auto;
}

.pricing-plans h2
{
    font-size: 2.5rem;
    font-weight: 700;
    margin-top: 200px;
    margin-bottom: 100px;
    text-align: center;
}