/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.head-container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.main-nav ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    gap: 20px;
    display: flex;
}

.main-nav a {
    text-decoration: none;
    color: grey;
    font-weight: 500;